@import url('https://fonts.googleapis.com/css?family=Overpass:200,700');

$medium: 800px;
$small: 600px;

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: black;
  font-family: 'Overpass';
  color: white;
  font-size: 15px;
}

#navbar {
  top: 2em;
  position: relative;
  margin: 0 3em;

  ul {
    position: fixed;
    right: 50%;
    transform: translateX(50%);
    width: 33%;
    max-width: 350px;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;

    @media (max-width: $medium) {
      right: 25%;
    }

    @media (max-width: $small) {
      right: 50%;
      width: 60%;
    }

    li {
      float: left;
      text-align: center;
    }
  }

  a {
    text-transform: uppercase;
    text-decoration: none;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.navbar-item {
  // box-sizing: border-box;
  width: 33.333%;
  // width: 100%;
  // background-color: rgba(0, 0, 0, 0.3);
  // padding: 0.25em 0.125em;
}

#navbar-logo {
  position: absolute;
  font-weight: bold;

  @media (max-width: $small) {
    display: block;
    position: relative;
    text-align: center;
    margin-bottom: 0.8em;
  }
}

a {
  color: white;

  a:visited {
    color: white;
  }
}

.call-to-action {
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  font-size: 3em;
}

.cover-image {
  display: block;
  width: 100vw;
  height: auto;

  @media (max-width: $small) {
    padding-top: 45px;
    width: 95vw;
    margin: 0 auto;
  }

  padding-bottom: 45px;
}

.page {
  padding: 8em;

  @media (max-width: $small) {
    padding: 1em;
  }
}

p {
  margin: 0;
  padding: 0;
}

.italic {
  font-style: italic;
}

.image {
  width: 100%;
  height: auto;
  display: block;
  padding-bottom: 1em;
}

.definition {
  width: 75%;
  ol {
    padding-top: 0;
    padding-left: 1.6em;
    margin-top: 0;
  }
  li {
    // padding-bottom: 1em;
  }
}
